div#mainGameBoard {
    border-top: 10px double red;
    border-bottom: 10px double red;
    border-right: 10px double #454546;
    border-left: 10px double #454546;
    width: 75vw;
    height: 75vh;
    margin-top: 5vh;
    background-color: #282828;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
}

div.obst {
    width: 2.5vw;
    height: 2.4vw;
    background-color: #1ddb66;
    position: absolute;
    display: block;
    visibility: hidden;
    left: 100%;
};

div#bird {
    width: 1vw;
    height: 1vw;
    background-color: blue;
    background-size: contain;
    border: 2px solid #454546;
    border-radius: 50%;
    display: block;
    position: absolute;
    overflow: hidden;
    left: 1%;
    opacity: 0.0;
    transition-property: opacity;
    transition-duration: 1s;
}

div#gameOverScreen {
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    background-color: #232324;
    transition-property: opacity;
    transition-duration: 1s;
    opacity: 0.0;
    position: fixed;
    top: 0;
    left: 0;

    &.shown {
        opacity: 1.0;
        visibility: visible;
    }
}

button#startButton {
    transition-property: opacity transform;
    transition-duration: 1s;
    opacity: 1.0;
}